coverage
node_modules
libesm
libcjs
dist
.nyc_output
.vscode
.zed

# Per https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored:
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
